body {
    background-color: #F6E3FF;

}

.main-part {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    color: #400090;

}

.wish-title{
    color: #400090;
    align-self: center;
    margin-bottom: 30px;
}