
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.footer {
    background-color: #400090;
    padding: 20px 40px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    
  }
  
  .footer-left h2 {
    font-family: "Grey Qo", cursive;     
  
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .footer-left p {
    
    max-width: 300px;
    line-height: 1.5;
  }
  
  .footer-middle {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
  }
  
  .footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column li {
    margin-bottom: 8px;
  }
  
  .footer-column a {
    color: #c5c3c3;
    text-decoration: none;
  }
  
  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .social-media a {
    margin: 0 10px;
  }
  
  .app-links a {
    margin: 10px 10px 0 0;
  }
  
  .footer-bottom {
    margin-top: 20px;
    text-align: center;
  }
  
  @media(max-width: 750px){
    .social-media a{
        margin: 0px;
    }
    .social-media img {
        width: 30%;
    }
  }